body {
    padding: 0;
    margin: 0;
    line-height: 1;
}
.container {
    width: 70%;
    max-width: 700px;
    margin: 0 auto;
}
.title {
    font-weight: normal;
    color: #8f0f1c;
    text-align: center;
    border-bottom: 2px solid #8f0f1c;
    padding: 5px;
}
#beetroot-img {
    width: 150%;

}
.lessons_list {
    border: 1px solid darkgray;
    list-style-type: none;
    padding: 0;

}
.lessons_list .list_item
{
padding: 40px 20px;
font-size: 14px;
border-bottom: 1px solid darkgray;
}
.lessons_list .list_item .last-child
{
border-bottom: none;    
}
.lessons_list .list_item a {
    font-size: 15px;
}
.list_item a {
    font-size: 30px;

}